@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap');


body {
    margin:0;
    padding:0;
    font-family: Raleway;
    height:100vh;
    overflow: hidden;
    line-height: 1.5;
    background:#98B4D4;


}

input,
textarea,
button {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
li {
    font: 1rem 'Fira Sans', sans-serif;
    margin-bottom: .5rem;
}


h3{
    font-size: 35px;
    color: black;
    margin: 0%;
}
h4{
    font-size: 25px;
    color: black;
    margin: 0%;
}
.center{
position:absolute;
top:50%;
left:50%;
background: #ffffff;
border-radius:10px;
width: 800px;
height: 500px;
transform: translate(-50%,-50%);

}
.center h3{
text-align:center;
padding:10px 0 10px 0;
border-bottom: 1px solid silver;}

.center table{
padding: 10px 40px;
box-sizing: border-box;
}

label{
font-size:25px;
}
select{
width:100px;
border-radius:3px;
}

.add{
position:relative;
top:50%;
left:30%;

}

.orderlist{
border-radius:3px;
width:700px;
height:230px;
}


